h1 {
	color: red;
	font-size: 60px;
}

#Ingre {
	font-size: 35px;
}

.list {
	font-size: 35px;
}

ol p {
	font-size: 20px;
}

img {
	box-shadow: 10px 10px 5px #E48F27;
}

img:hover {
	box-shadow: 15px 15px 10px #52320B;
	transform: rotate(5deg);
}

.Ingredient {
	font-size: 25px;
}
.Ingredient:hover {
	font-size: 30px;
}

#Hide {
	height :20px;
	width :800px;
	background-color:#cc0000;
	color:#ffffff;
	border-radius: 5px;
	text-align:center;
}